// Sass variables
$darkBackgroundColor: #e2d6d1;
$lightBackgroundColor: #fff1e6;
$headerHeight: 200px;
$cardHeight: 210px;
$cardWidth: 210px;
$minCardColumnWidth: 250px;
$contactPadding: 10px;
$bigFontSize: 20px;
$middleFontSize: 18px;
$blueTextColor: #083b75;
$defaultTextColor: black;

// Sass mixins
@mixin grid($numberOfColumns) {
  display: grid;
  grid-template-rows: $headerHeight 2fr 1fr;
  grid-template-columns: repeat($numberOfColumns, minmax($minCardColumnWidth, 1fr));
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sizeOfElement ($widthOfElement, $heightOfElement) {
  width: $widthOfElement;
  height: $heightOfElement;
}

// Styles
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container{
  @include sizeOfElement(100%, 100%);
  // Grid with one column
  @include grid(1);
  background-color: $lightBackgroundColor;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (min-width: 750px) {
  .container {
    // Grid with three columns
    @include grid(3);
  }
}

.header {
  grid-column: 1 / -1;
  @include flex;
  background-image: url(images/house.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__h1 {
    font-family: 'Times New Roman', Times, serif;
    color: $defaultTextColor;
  }

  &__h1--white {
    color: white;
  }

  &__h1--black-shadow {
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
  }
}

.card {
  place-self: center;
  @include sizeOfElement($cardWidth, $cardHeight);
  border: 1px solid black;
  margin: 5px;

  &:hover,
  &:focus {
    transform: scale3d(1.02, 1.02, 1);
  }

  &__title {
    @include sizeOfElement(100%, 50%);
    @include flex;
    background-color: $darkBackgroundColor;
    font-size: $bigFontSize;
  }

  &__title--bold {
    font-weight: bold;
  }

  &__title--blue {
    color: $blueTextColor;
  }

  &__description {
    @include sizeOfElement(100%, 50%);
    @include flex;
  }

  &__description--white-background {
    background-color: white;
  }
}

.contact {
  grid-column: 1 / -1;
  text-align: center;
  background-color: $darkBackgroundColor;
  padding: $contactPadding;

  &__p {
    color: $defaultTextColor;
  }

  &__p--big-font {
    font-size: $middleFontSize;
  }

  &__p--blue {
    color: $blueTextColor;
  }
  
  &__p--bold {
    font-weight: bold;
  }

}

