// Sass variables
$darkBackgroundColor: #e2d6d1;
$lightBackgroundColor: #fff1e6;
$headerHeight: 200px;
$cardHeight: 200px;
$cardWidth: 200px;
$contactPadding: 10px;
$bigFontSize: 20px;
$middleFontSize: 18px;
$blueTextColor: #083b75;
$defaultTextColor: black;

// Styles
body {
    height: 100vh;
    margin: 0;
    background-color: $lightBackgroundColor;
    font-family: "Times New Roman", Times, serif;
    display: grid;
    grid-template-rows: $headerHeight 2fr 1fr;
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 750px) {
    body{
      grid-template-rows: $headerHeight 2fr 1fr;
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    
  }
  

  .header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/house.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .header__h1 {
    color: $defaultTextColor;
  }
  
  .header__h1--white {
    color: white;
  }
  
  .header__h1--black-shadow {
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  }

  
  .card {
    place-self: center;
    height: $cardHeight;
    width: $cardWidth;
    border: 1px solid black;
    margin: 5px;
  }
  
  .card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: $darkBackgroundColor;
    font-size: $bigFontSize;
  }
  
  .card__title--bold {
    font-weight: bold;
  }
  
  .card__title--blue {
    color: $blueTextColor;
  }
  
  .card__description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
  }
  
  .card__description--white-background {
    background-color: white;
  }
  
  .contact {
    grid-column: 1 / -1;
    text-align: center;
    background-color: $darkBackgroundColor;
    padding: $contactPadding;
  }
  
  .contact__p {
    color: $defaultTextColor;
  }
  
  .contact__p--big-font {
    font-size: $middleFontSize;
  }
  .contact__p--blue {
    color: $blueTextColor;
  }
  
  .contact__p--bold {
    font-weight: bold;
  }
  