body {
    height: 100vh;
    margin: 0;
    background-color: #fff1e6;
    font-family: "Times New Roman", Times, serif;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url(images/house.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .header__h1 {
    color: black;
  }
  
  .header__h1--white {
    color: white;
  }
  
  .header__h1--black-shadow {
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  
  .card {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 0 5px;
  }
  
  .card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: #e2d6d1;
    font-size: 20px;
  }
  
  .card__title--bold {
    font-weight: bold;
  }
  
  .card__title--blue {
    color: #083b75;
  }
  
  .card__description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
  }
  
  .card__description--white-background {
    background-color: white;
  }
  
  .contact {
    text-align: center;
    background-color: #e2d6d1;
    padding: 10px;
  }
  
  .contact__p {
    color: black;
  }
  
  .contact__p--big-font {
    font-size: 18px;
  }
  .contact__p--blue {
    color: #083b75;
  }
  
  .contact__p--bold {
    font-weight: bold;
  }
  